/*/*----------------------INDEX--------------------------------*/

/*find out what is up with the margins*/

/*------------------------------------------------------GALLERY*/
    
    
/*------------------------------------------------------GALLERY large screens*/
@media (min-width: 674px){
    .gallery {
        margin: 5px;
        height: 100%;
        position: relative;
    }
    figcaption{
        color: #ffffff;
        font-size: 90px;
        position: absolute;
        bottom: 0;
    }
}

@media (max-height: 600px) {
    figcaption {
        font-size: 50px;
    }
}

/*------------------------------------------------------GALLERY small screens*/
@media (max-width: 674px){
    .gallery img {
    width: 100%;
    height: auto;
    }
    .gallery {
        margin: 5px;
        padding-left: 45px;
        padding-right: 45px;
    }
/*       figcaption{*/
        color: #000000;
        font-size: 25px;
        float: left;
/*        position: absolute;*/
        
    }
}